
body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, sans-serif;
    background-color: #f6f7f8;
    color: #222;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 260px;
    background-color: #ffffff;
    border-right: 1px solid #e1e1e1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    background-color: #222;
    color: #fff;
    font-weight: bold;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: transform 0.3s ease;
}

.avatar:hover {
    transform: rotate(-5deg) scale(1.05);
}

.info h2 {
    margin: 0;
    font-size: 16px;
}

.info p {
    margin: 0;
    font-size: 13px;
    color: #777;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 12px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    padding: 6px 0;
}

.menu a:hover {
    color: #0077ff;
    transform: translateX(4px);
}

.menu a.active {
    color: #0077ff;
    font-weight: 600;
}

.footer {
    font-size: 12px;
    color: #aaa;
    text-align: center;
}


.content {
    flex: 1;
    padding: 50px;
    overflow-y: auto;
}

.hero h1 {
    font-size: 30px;
    margin-bottom: 5px;
}

.hero p {
    color: #666;
    margin-bottom: 40px;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    padding: 25px 30px;
    margin-bottom: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.card:hover {
    transform: translateY(-3px);
}

.card h2 {
    margin-top: 0;
    font-size: 18px;
}

.card ul {
    margin: 10px 0 0 20px;
}

.card p {
    margin: 0;
}
