
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 20px;
    margin: 0;
    background-color: #f5f5f5;
}


.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.menu li {
    flex: 1;
    max-width: 150px;
}

.menu li a {
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 8px;
    padding: 12px;
    display: block;
    text-align: center;
    align-items: center;
}

.menu li a:hover {
    background-color: lightgreen;
    border: green solid 1px;
}


.container {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(5, 1fr);


    grid-template-rows: repeat(7, minmax(260px, auto));

    gap: 10px;

    grid-template-areas:
    "header header header header header"
    ". nav nav nav ."
    ". main main main box1 "
    ". main main main box2 "
    ". main main main box3 "
    ". box4 box5 box6 ."
    "footer footer footer footer footer";
}

header {
    background-color: lightblue;
    grid-area: header;
}

main {
    background-color: lightcoral;
    grid-area: main;
    height: 100%;
}

nav {
    background-color: lightgreen;
    grid-area: nav;
    display: flex;
    align-items: center;
}

footer {
    background-color: lightslategrey;
    grid-area: footer;
}


.box1 { background-color: gray; grid-area: box1; }
.box2 { background-color: gray; grid-area: box2; }
.box3 { background-color: gray; grid-area: box3; }
.box4 { background-color: gray; grid-area: box4; }
.box5 { background-color: gray; grid-area: box5; }
.box6 { background-color: gray; grid-area: box6; }
.box7 { background-color: gray; grid-area: box7; }


.page-header {
    margin-bottom: 20px;
}

.page-header h1 {
    margin: 0 0 6px 0;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}


.card {

    margin: 10px;
    gap: 20px;
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 12px;
    padding: 14px;


    flex: 1 1 220px;
    display: flex;
    flex-direction: column;
}

.thumb img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.card h2 {
    font-size: 10px;
    margin: 0 0 10px 0;
}

.desc {
    margin: 0 0 10px 0;
    color: #333;
}

.price {
    margin: 0 0 10px 0;
    font-weight: bold;
}

.btn {
    margin-top: auto;
    padding: 10px 12px;
    border: 2px solid #111;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 100px);
        gap: 10px;

        grid-template-areas:
        "header "
        "nav  "
        "main "
        "main "
        "main "
        "main "
        "main "
        "main "
        "main "
        "main "
        "main "
        "main "
        "main "
        "main "
        "main "
        "main "
        "main "
        "box1 "
        "box2 "
        "box3 "
        "box4 "
        "box5 "
        "box6 "
        "footer ";
    }
}