form {
    background-color: blueviolet;
}
#login {
    background-color: aliceblue;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid grey;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 16px;
}
form#login input::placeholder {
    color: lightgreen;
    font-style: oblique;
}
form input {
    margin-left: 15px;
}
form#prvif label.headeris {
    font-size: 20px;
    font-style: italic;
    margin-left: 5px;
}
form#prvif{
    width: 320px;
    border: 2px solid lightcoral;
    border-radius: 10px;
    background-color: lightsalmon;
}
div#blockisofsilentman{
    background-color: rgb(231, 174, 29);
    width: 325px;
    border-radius: 10px;
    padding: 20px;
}