nav#menu {
    background-color: aliceblue;
    overflow: hidden;
    width: 250px;
    margin: 0 auto;
    padding: 5px;
}
nav#menu ul {
    list-style-type: none;
    /*padding: 0;*/
    margin: 0;
}
nav#menu ul li {
    margin-bottom: 10px;
    background-color: lightcoral;
}
nav#menu ul li a{
    padding: 8px 5px;
    display: block;
    background-color: greenyellow;
    text-decoration: none;
    text-align: center;

}
nav#menu ul li a:visited{
    background-color: darkcyan;
    color: bisque;
}